<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info page</title>
</head>
<body>
<table border="1">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Number of logins</th>
    </tr>
    {% for u in users %}
        <tr>
            <td>
                {{ u.first_name }}
            </td>
            <td>
                {{ u.last_name }}
            </td>
            <td>
                {{ u.number_of_login}}
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>